In [80]:
# M02 Homework
#Matt Scheffel
#mcs9ff
#9/4/22

In [2]:
# Task 1

In [3]:
gradebook = {
    'Jon' : 95,
    'Mike' : 84,
    'Jaime' : 99
}

print(gradebook)

{'Jon': 95, 'Mike': 84, 'Jaime': 99}

In [4]:
# Task 2

In [18]:
print(gradebook['Mike'])

84

In [19]:
# Task 3

In [79]:
print(gradebook['Jeff'])

KeyError: 'Jeff'

In [21]:
# Task 4

In [22]:
names = ['Alex', 'Patrick', 'Tom', 'Joe', 'Alex' ]
print(names)

['Alex', 'Patrick', 'Tom', 'Joe', 'Alex']

In [23]:
# Task 5

In [24]:
names.sort()
print(names)

['Alex', 'Alex', 'Joe', 'Patrick', 'Tom']

In [25]:
# Task 6

In [26]:
names_set = {"Alex", "Patrick", "Tom", "Joe", "Alex"}
print(names_set)

{'Tom', 'Patrick', 'Joe', 'Alex'}

In [27]:
# Task 7

In [37]:
td = {
    'Alex1' : 2,
    'Patrick' : 4,
    'Tom' : 1,
    'Joe' : 3,
    'Alex2' : 1
    
}

print(td)

td_values = list(td.values())
print(td_values)

{'Alex1': 2, 'Patrick': 4, 'Tom': 1, 'Joe': 3, 'Alex2': 1}
[2, 4, 1, 3, 1]

In [32]:
# Task 8

In [60]:
x = td.get('Alex1')
y = td.get('Alex2')

alex_sum =[]
alex_sum.append(x)
alex_sum.append(y)

alex_tds = sum(alex_sum)
print(alex_tds)

3

In [34]:
# Task 9

In [65]:
list1 = list(td.keys())
list1.sort()
print(list1)

['Alex1', 'Alex2', 'Joe', 'Patrick', 'Tom']

In [69]:
list2 = list(names_set)
list2.sort()
print(list2)

['Alex', 'Joe', 'Patrick', 'Tom']

In [74]:
list1 == list2

True

In [81]:
#Note: not sure why "True" is returned...

In [86]:
# Fin