# Participation for Module 3

In [11]:
#3.1

val = 5
if -10 < val < -5:
    print('number 1')
elif -5 <= val <= -2:
    print('number 2')
elif val == -2:
    print('number 3')
#prints nothing

In [ ]:
#3.2

In [4]:
xx = [-2,8,0,5,6]
max_val = max(xx)
for x in xx:
    print(x) if x < max_val else print('max_val')

-2
max_val
0
5
6

In [3]:
#3.3

In [2]:
it = 0
max_iter = 100
while it < max_iter:
    if (it == 0) or (it % 10 == 0):
        print(it)
    it += 1

0
10
20
30
40
50
60
70
80
90

In [6]:
#3.4

In [7]:
names = ['John', 'Paul', 'George', 'Ringo']
for name in names:
    print(name.lower())

john
paul
george
ringo

In [12]:
#3.5

In [13]:
beatles = iter(names)
print(next(beatles))
print(next(beatles))
print(next(beatles))
print(next(beatles))

John
Paul
George
Ringo

In [14]:
beatles = iter(names)
_ = [print(next(beatles)) for i in range(len(names))]

John
Paul
George
Ringo

In [15]:
_ = [print(name) for name in iter(names)]

John
Paul
George
Ringo

In [17]:
#3.6

In [19]:
city_zip = {'Santa Barbara' : 93103, 'Charlottesville' : 22903}

for cit, zi in city_zip.items():
    print(cit,zi)

Santa Barbara 93103
Charlottesville 22903

In [20]:
#3.7

In [21]:
...

Ellipsis

In [22]:
#3.8

In [23]:
vals = [1,2,3,4]
cubes = [val**3 for val in vals]
cubes

[1, 8, 27, 64]

In [24]:
#3.9

In [25]:
strs = ['99','red baloons','floating','in the', 'summer sky.', '16', 'candles']
strs_w_num = len([st for st in strs if st.isdigit()])
strs_w_num

2

In [26]:
#Fin